<div class="center-block jumbotron">
  <div class="container">

    <p>Site by Caleb and Alla.</p>
    <p>Come find us on Github at:</p>
    <p><a href= "https://github.com/calebthill"> https://github.com/calebthill </a>
    <a href= "https://github.com/RSid">https://github.com/RSid</a></p>
  </div>
</div>
