<h1> Results </h1>

<ul>
  <% @restaurants["businesses"].each do |business| %>
  <li>
  <% if business["phone"].nil? && business["phone"].empty? %>
    <%= link_to business["name"], restaurant_path(business["phone"]) %>
  <% else %>
    <%= link_to business["name"], restaurant_path(business["id"]) %>
  <% end %>
  </li>
  <% end %>
</ul>
