<h1> Results </h1>

<ul>
<% @restaurants["businesses"].each do |business| %>
<li><%= business["phone"] != nil ? ( link_to business["name"], restaurant_path(business["phone"]) ) : business["name"]  %></li>
<% end %>
</ul>

<h3><a href="/restaurants/new">Search new</a></h3>
