/**= require bootstrap.min*/



body {

  background: url(city.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.button {
  color: black;
}

.row {
  margin: 0px;
  text-align: center;
}

a {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #FD8C26;
  font-size: 1.2em;
}

input {
  color: black;
}
